{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/subscriptions/confirm_delete_subscription.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="subscription-confirmation">
        <h2>Are you sure you want to cancel your subscription?</h2>
        <p>
            Please confirm if you want to cancel your subscription.<br>This action cannot be undone.
        </p>
        <div class="btn-group">
            <button id="delete-btn" class="btn btn-cancel" data-subscription-id="{{ subscription_id }}">
                Cancel Subscription
            </button>
        <a class="btn" href="{% url 'core:index' %}">
            &gt; &nbsp; Return to dashboard
        </a>
        </div>
    </div>
    {% include 'partials/footer.html' %}

    <script>
    document.getElementById('delete-btn').addEventListener('click', function() {
        const subscriptionId = this.getAttribute('data-subscription-id');
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch(`/subscriptions/delete-subscription-confirmed/${subscriptionId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.text())
        .then(html => {
            document.body.innerHTML = html;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    </script>

    {% csrf_token %}
{% endblock %}