{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/subscriptions/paypal_update_subscription_confirmed.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="subscription-activated">
        <h5>Paypal update confirmed!</h5>
        <h1>✅</h1>
        <p>
            Your request to update your subscription has been confirmed on Paypal.
        </p>
        <a class="btn" href="{% url 'core:index' %}">
            &gt; &nbsp; Confirm for final approval
        </a>
    </div>
    {% include 'partials/footer.html' %}

{% endblock %}