{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/subscriptions/django_update_subscription_confirmed.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="subscription-activated">
        <h5>Final approval confirmed!</h5>
        <h1>✅</h1>
        <p>
            We're pleased to inform you that your new subscription plan has been approved.
        </p>
        <a class="btn" href="{% url 'core:index' %}">
            &gt; &nbsp; Return to dashboard
        </a>
    </div>
    {% include 'partials/footer.html' %}
{% endblock %}