{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/subscriptions/paypal_update_subscription_confirmed.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="subscription-activated">
        <h5>Paypal update confirmed!</h5>
        <h1>✅</h1>
        <p>
            Your request to update your subscription has been confirmed on Paypal.
        </p>
        <button id="confirm-btn" class="btn" data-subscription-id="{{ subscription_id }}">
            &gt; &nbsp; Confirm for final approval
        </button>
    </div>
    {% include 'partials/footer.html' %}

    <script>
    document.getElementById('confirm-btn').addEventListener('click', function() {
        const subscriptionId = this.getAttribute('data-subscription-id');
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch(`/subscriptions/django-update-subscription-confirmed/${subscriptionId}/`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.text())
        .then(html => {
            document.body.innerHTML = html;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    </script>

    {% csrf_token %}
{% endblock %}