{% extends 'partials/base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/registration/opt_verify.css' %}">

{% endblock %}

{% block title %} Two-factor authentication {% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}

<div class="container-login">
    <div class="form-container">
        <h2>Two-factor authentication</h2>
        <form method="POST" action="{% url 'account:verify_mfa' %}">
            {% csrf_token %}
            <div class="label-container">
                <i class="fa-solid fa-phone"></i>
                <label for="otp_code">Authentication code <i class="fa-solid fa-circle-question question-icon"></i></label>
            </div>
            <input type="text" id="otp_code" name="otp_code"
                   class="form-control" maxlength="6"
                   placeholder="xxxxxx" required
                   onfocus="if(this.value=='xxxxxx') this.value='';">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button class="btn-submit" type="submit">Verify</button>
        </form>
        <p>Open your two-factor authenticator (TOTP) app or browser extension to view your authentication code.</p>
    </div>
</div>

{% include 'partials/footer.html' %}

{% endblock %}