{% extends 'partials/base.html' %}
{% load static humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/partials/pricing.css' %}">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}

{% if subscription_id %}
<section class="plans__container">
    <div class="plans">
        <div class="plansHero">
            <h1 class="plansHero__title"> 𝓒𝓱𝓸𝓸𝓼𝓮 𝔂𝓸𝓾𝓻 𝓹𝓻𝓲𝓬𝓲𝓷𝓰 𝓹𝓵𝓪𝓷 </h1>
            <h3>Subscription status: {{ subscription_plan|title }}</h3>
            <h3>Delete subscription</h3>
            <a type="button" href="{% url 'subscriptions:confirm_delete_subscription' subscription_id %}">Delete</a>
            <br>
            <h3>Change subscription</h3>
            {% if subscription_plan == 'Basic' %}
            <a type="button" href="{% url 'subscriptions:update_subscription' subscription_id 'Premium' %}">Upgrade to
                Premium</a> |
            <a type="button" href="{% url 'subscriptions:update_subscription' subscription_id 'Enterprise' %}">Upgrade
                to Enterprise</a>
            {% elif subscription_plan == 'Premium' %}
            <a type="button" href="{% url 'subscriptions:update_subscription' subscription_id 'Basic' %}">Downgrade to
                Basic</a> |
            <a type="button" href="{% url 'subscriptions:update_subscription' subscription_id 'Enterprise' %}">Upgrade
                to Enterprise</a>
            {% elif subscription_plan == 'Enterprise' %}
            <a type="button" href="{% url 'subscriptions:update_subscription' subscription_id 'Basic' %}">Downgrade to
                Basic</a> |
            <a type="button" href="{% url 'subscriptions:update_subscription' subscription_id 'Premium' %}">Downgrade to
                Premium</a>
            {% endif %}
            <br>
            <p class="plansHero__subtitle">No contracts. No surprise fees.</p>
        </div>
    </div>
</section>
{% else %}
<section class="plans__container">
    <div class="plans">
        <div class="plansHero">
            <h1 class="plansHero__title">Choose your pricing plan</h1>
            <h3>Subscription status: {{ subscription_plan|title }}</h3>
            <h3>No subscription</h3>
            <br>
            <p class="plansHero__subtitle">No contracts. No surprise fees.</p>
        </div>
    </div>
</section>
{% endif %}
<section class="plans__container">
    <div class="plans">
        <div class="planItem__container">
            <div class="planItem planItem--free">
                <div class="card">
                    <div class="card__header">
                        <div class="card__icon symbol symbol--rounded"></div>
                        <h2>{{ basic_plan.name }}</h2>
                    </div>
                    <div class="card__desc">{{ basic_plan.description }}</div>
                </div>
                <div class="price">$<span>{{ basic_plan.cost|intcomma }}/ month</span></div>
                <ul class="featureList">
                    <li {% if not basic_plan.has_thumbnail_200px %}class="disabled"{% endif %}>thumbnail_photo_200px</li>
                    <li {% if not basic_plan.has_thumbnail_400px %}class="disabled"{% endif %}>thumbnail_photo_400px</li>
                    <li {% if not basic_plan.has_original_photo %}class="disabled"{% endif %}>original_photo</li>
                    <li {% if not basic_plan.has_binary_link %}class="disabled"{% endif %}>binary_link</li>
                </ul>
                <div id="paypal-button-container-basic"></div>
                <script src="https://www.paypal.com/sdk/js?client-id=AViFM_g_S_EyBgXIsU-k_4QiK8ZWGDcEax1_923d_rG48UOhsPhv8inLaAUUEE-8TverOEUKZneI2DQx&vault=true&intent=subscription"
                        data-sdk-integration-source="button-factory"></script>
                <script>
                    paypal.Buttons({
                        style: {
                            shape: 'pill',
                            color: 'silver',
                            layout: 'vertical',
                            label: 'subscribe'
                        },
                        createSubscription: function (data, actions) {
                            return actions.subscription.create({
                                plan_id: '{{ basic_plan_id }}'
                            });
                        },
                        onApprove: function (data, actions) {
                            var current_url = '/subscriptions/create-subscription/' + data.subscriptionID + "/Basic"
                            window.open(current_url, '_self')
                        }
                    }).render('#paypal-button-container-basic');
                </script>
            </div>
            <div class="planItem planItem--pro">
                <div class="card">
                    <div class="card__header">
                        <div class="card__icon symbol"></div>
                        <h2>{{ premium_plan.name }}</h2>
                        <div class="card__label label">Best Value</div>
                    </div>
                    <div class="card__desc">{{ premium_plan.description }}</div>
                </div>
                <div class="price">$<span>{{ premium_plan.cost|intcomma }}/ month</span></div>
                <ul class="featureList">
                    <li {% if not premium_plan.has_thumbnail_200px %}class="disabled"{% endif %}>thumbnail_photo_200px</li>
                    <li {% if not premium_plan.has_thumbnail_400px %}class="disabled"{% endif %}>thumbnail_photo_400px</li>
                    <li {% if not premium_plan.has_original_photo %}class="disabled"{% endif %}>original_photo</li>
                    <li {% if not premium_plan.has_binary_link %}class="disabled"{% endif %}>binary_link</li>
                </ul>
                <div id="paypal-button-container-premium"></div>
                <script>
                    paypal.Buttons({
                        style: {
                            shape: 'pill',
                            color: 'gold',
                            layout: 'vertical',
                            label: 'subscribe'
                        },
                        createSubscription: function (data, actions) {
                            return actions.subscription.create({
                                plan_id: '{{ premium_plan_id }}'
                            });
                        },
                        onApprove: function (data, actions) {
                            var current_url = '/subscriptions/create-subscription/' + data.subscriptionID + "/Premium"
                            window.open(current_url, '_self')
                        }
                    }).render('#paypal-button-container-premium');
                </script>
            </div>
            <div class="planItem planItem--entp">
                <div class="card">
                    <div class="card__header">
                        <div class="card__icon"></div>
                        <h2>{{ enterprise_plan.name }}</h2>
                    </div>
                    <div class="card__desc">{{ enterprise_plan.description }}</div>
                </div>
                <div class="price">$<span style="color: white;">{{ enterprise_plan.cost|intcomma }}/ month</span></div>
                <ul class="featureList">
                    <li {% if not enterprise_plan.has_thumbnail_200px %}class="disabled"{% endif %}>thumbnail_photo_200px</li>
                    <li {% if not enterprise_plan.has_thumbnail_400px %}class="disabled"{% endif %}>thumbnail_photo_400px</li>
                    <li {% if not enterprise_plan.has_original_photo %}class="disabled"{% endif %}>original_photo</li>
                    <li {% if not enterprise_plan.has_binary_link %}class="disabled"{% endif %}>binary_link</li>
                </ul>
                <div id="paypal-button-container-enterprise"></div>
                <script>
                    paypal.Buttons({
                        style: {
                            shape: 'pill',
                            color: 'black',
                            layout: 'vertical',
                            label: 'subscribe'
                        },
                        createSubscription: function (data, actions) {
                            return actions.subscription.create({
                                plan_id: '{{ enterprise_plan_id }}'
                            });
                        },
                        onApprove: function (data, actions) {
                            var current_url = '/subscriptions/create-subscription/' + data.subscriptionID + "/Enterprise"
                            window.open(current_url, '_self')
                        }
                    }).render('#paypal-button-container-enterprise');
                </script>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/2_factor_toggle.js' %}"></script>

{% include 'partials/footer.html' %}

{% endblock %}