
.image-container {
    margin-right: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

.image-container ul {
    list-style-type: none;
}

.image-container li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.image-container h2 {
    margin-bottom: 10px;
}

.image-container p {
    margin-bottom: 5px;
}

